<div>
  <h1 class="text-4xl"><%= @movie.title %></h1>
  <div class="mt-3 flex space-x-3">
    <div class="grow flex flex-col space-y-3">
      <%= release_year(@movie.release_year) %>
      <%= runtime(@movie.runtime) %>
    </div>
    <% if @movie.poster_path %>
      <%= image_tag(@movie.poster_url, class: "") %>
    <% end %>
  </div>
  <% if @movie.overview %>
    <div class="mt-5 p-3 rounded-lg bg-gray-50">
      <%= @movie.overview %>
    </div>
  <% end %>
 </div>
